/*.tar.gz
relying_party_owner/RATLS_Conn/OUTPUT
relying_party_owner/RATLS_Conn/client
relying_party_owner/RATLS_Conn/mbedtls
relying_party_owner/RATLS_Conn/server
relying_party_owner/RATLS_Conn/ssl/ca.*
relying_party_owner/RATLS_Conn/ssl/server.*
relying_party_owner/RATLS_Conn/*.manifest.sgx
relying_party_owner/RATLS_Conn/*.sig
relying_party_owner/RATLS_Conn/*.token
relying_party_owner/RATLS_Conn/*.cache
relying_party_owner/RATLS_Conn/.output.sgx_get_token.*
relying_party_owner/RATLS_Conn/.output.sgx_sign.*
relying_party_owner/RATLS_Conn/*.so  
relying_party_owner/RATLS_Conn/*.manifest
policies.json
config.toml
*.pem
sgx_default_qcnl.conf
relying_party_owner/__pycache__/*
relying_party_owner/crypto_utils/__pycache__/*
relying_party_owner/utility/__pycache__/*
evidence
collaterals
venv

# sgx
*.manifest.sgx
*.manifest
*.sig
*.token
*.cached
.output.sgx_get_token.*
.output.sgx_sign.*

# No editor backup files.
*.sw*
*.backup
*.orig
\#*#
*~
.vscode
logs


/OUTPUT1
/OUTPUT2
/server.PID
/TEST_STDERR
/TEST_STDOUT
